*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
}

#barra{
    text-align: center;
    width: 100%;
    height: 42px;
    top: 0px;
    z-index: 1;
    font-family: arial;
    background-color: #f2f2f2;
}
.boton{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 9px 10px;
    position: relative;
    font-size: 1.3rem;
    float: right;
}
.boton:hover{
	border-bottom: 1.5px solid black;
	color: red;
	border-color: red;
	font-size: 1.4rem;
}

.cventana{
	background-color: #f1f1f1;
	color: black;
	width: 800px;
	height: 500px;
	position: fixed;
	left: 34%;	
	top: 60px;

}
#cerrar{
	position: absolute;
	right: 10px;
	height: 20px;
	width: 16px;
	margin-top: 5px;
}
#cerrar img{
	height: 20px;
	width: 16px;
}
#datos{
	margin-top: 30px;
}
#datos hr{
	margin-bottom: 15px;
	border-color: transparent;
}
#datos input[type=text]{
	height: 25px;
	width: 280px;
	border-color: transparent;
}
#datos input[type=radio]{
	margin-left: -5pc;	
}
#datos button{
	height: 60px;
	width: 100%;
	margin-top: 140px;
	background-color: red;
	border-color: transparent;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
}

#imgsup{
	height: 400px;
	background-size: contain;
	background-image: url(../img/img1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 415px;
    background-position-y: -15px;
}

.texd{
	height: 200px;
	width: 600px;	
	vertical-align: top;
	display: inline-block;
	margin-left: 80px;
	margin-top: 60px;
}
.imai{
	height: 300px;
	width: 400px;	
	vertical-align: top;
	display: inline-block;
	margin-left: 120px;
	margin-top: 60px;
	overflow: hidden;
}
.imai2{
	height: 300px;
	width: 400px;	
	vertical-align: top;
	display: inline-block;
	margin-left: 120px;
	margin-top: 60px;
	overflow: hidden;
	background-image: url(../img/j6wnsrym35u.png);
	background-size: 106% 107%;
    background-repeat: no-repeat;
}
.texi{
	height: 200px;
	width: 600px;	
	vertical-align: top;
	display: inline-block;
	margin-right: 80px;
	margin-top: 60px;
}
.imad1{
    height: 300px;
    width: 400px;
    vertical-align: top;
    display: inline-block;
    margin-top: 60px;
    overflow: hidden;
    background-image: url(../img/24gb28249vgyq4k86.png);
    background-size: 138% 119%;
    background-repeat: no-repeat;
    background-position-x: -85px;
    background-position-y: -45px;
}
.imad2{
    height: 300px;
    width: 400px;
    vertical-align: top;
    display: inline-block;
    margin-top: 60px;
    overflow: hidden;
    background-image: url(../img/h42h635uj36.png);
    background-size: 111% 106%;
    background-repeat: no-repeat;
    background-position-x: -16px;
    background-position-y: -4px;
}
#sup {

}
#sup hr{
	border: 0;
}
#sup p{
	margin-top: 10px;
}
.titulosup{
	margin-top: 20px;
}

#selec{
	height: 400px;
	margin-top: 60px;
	background-color:#679039f7;
}
#selec #tit{	
	color: white;
}
#selec h3{
	margin-top: 70px;
}
.circulo{
	height: 170px;
	width: 170px;
	border-radius: 170px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin-top: 80px;
}
#diet{
	background-image: url("../img/24h674tr54sw4tg.png");
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#ejer{
	background-image: url("../img/35jh42qefet42gyjwtw5.png");
	overflow: hidden;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 250px;
}

#testimonios{
	height: 400px;
	border: 1px solid #66666600;
	background-image: url(../img/rq3egwvd213513g4g.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;

}
.testimonio{
	height: 150px;
	width: 900px;
	margin-top: 40px;
}
.imgtest{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    margin-top: 40px;
}
#img1{
	background:url(../img/d657fgfdwr438it4745gc5768.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#img2{
	background:url(../img/persona.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.textest{
	display: inline-block;
	height: 150px;
	width: 693px;
	vertical-align: top;
	padding: 0 20px;
}
.textest p{
	margin-top: 10px;
	color: white;
}
.textest h2{
	margin-top: 10px;
	color: white;
}

#pie{
	height: 90px;
	background-color: #666666;
}
.redes{
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 15px;
}
#redescont{
	float: right;
	margin-right: 50px;
}
#pie img{
	height: 50px;
	width:50px;
	border-radius: 11px;
}